@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailConfirmed</title>
</head>
<body>
    <div>
        <h5>Thanks for your interestes, please use the link <span><a href="@Model.LoginUrl">Login</a></span></h5>
    </div>
</body>
</html>
