<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <button data-toggle="collapse" data-target="#scenarioWord{{imageIndex}}{{index}}">Scenario Word {{index}}</button>

            </h4>
        </div>
        <div id="scenarioWord{{imageIndex}}{{index}}" class="panel-collapse collapse">
            <div class="row">
                <label for="wordChinese" class="col-sm-2 control-label">Chinese</label>
                <div class="col-sm-10">
                    <input id="wordChinese" type="text" ng-model="word.chinese" />
                </div>
                
            </div>
            <div class="row">
                <label for="wordPinyin" class="col-sm-2 control-label">Pinyin</label>
                <div class="col-sm-10">
                    <input type="text" id="wordPinyin" ng-model="word.pinyin" />
                </div>
            </div>
            <div class="row">
                <label for="wordAudio" class="col-sm-2 control-label">Audio</label>
                <div class="col-sm-10">
                    <input type="text" id="wordAudio" ng-model="word.audio" />
                </div>
            </div>
        </div>
    </div>
</div>
