
<div>
    <div class="row">
        <label for="what" class="col-sm-2 control-label">What</label>
        <div class="col-sm-10">
            <input type="text" id="what" ng-model="quote.what" />
        </div>
    </div>
    <div class="row">
        <label for="where" class="col-sm-2 control-label">Where</label>
        <div class="col-sm-10">
            <input type="text" id="where" ng-model="quote.where" />
        </div>
    </div>

    <div class="row">
        <label for="when" class="col-sm-2 control-label">When</label>
        <div class="col-sm-10">
            <input type="text" id="when" ng-model="quote.when" />
        </div>
    </div>
</div>
