<div ng-repeat="image in ctrl.images">
    <br ng-if="$index > 0 && $index %2 == 0" />
    <div ng-if="$index % 2 == 0" class="row">
        <div class="col-sm-4">
            <img  ng-src="{{ctrl.images[$index].src | contentDirectory : 'Scenario'}}" class="img-responsive img-border" />
            <br />
            <div class="row" ng-repeat="word in ctrl.images[$index].words">

                <div class="col-sm-4">
                    <p class="scenario-word-font">{{word.chinese}}</p>
                </div>
                <div class="col-sm-2">
                    <edc-audio audioid="{{word.audiosrc | contentDirectory : 'Scenario/Word/Audio'}}"></edc-audio>
                </div>
                <div class="col-sm-5">
                    <img ng-src="{{word.pinyin | contentDirectory : 'Scenario/Word/Pinyin/'}}">
                </div>



            </div>
        </div>
        <div class="col-sm-4" ng-if="($index + 1) < ctrl.images.length">
            <img  ng-src="{{ctrl.images[$index + 1].src | contentDirectory : 'Scenario'}}" class="img-responsive img-border" />
            <br />
            <div class="row" ng-repeat="word in ctrl.images[$index + 1].words">

                <div class="col-sm-4">
                    <p class="scenario-word-font">{{word.chinese}}</p>
                </div>
                <div class="col-sm-2">
                    <edc-audio audioid="{{word.audiosrc | contentDirectory : 'Scenario/Word/Audio'}}"></edc-audio>
                </div>
                <div class="col-sm-5">
                    <img ng-src="{{word.pinyin | contentDirectory : 'Scenario/Word/Pinyin/'}}">
                </div>



            </div>
        </div>
    </div>
</div>

