<div class="col-sm-4 col-md-3 clitem">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-2" ng-show="ctrl.basic">
            <edc-svg svgname="ctrl.item.chinese"></edc-svg>
        </div>

        <div class="col-sm-1 col-sm-offset-9 hoverrow">
            <button type="button" class="btn btn-default btn-circle " data-toggle="tooltip" data-placement="left" title="Remove" ng-click="ctrl.removeItem()">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </div>
    </div>

    <div ng-show="ctrl.basic">
        <div class="row item-center">
            <div class="col-sm-2">
                <img src="{{ctrl.item.pinyin | contentDirectory : 'Pinyin/WordPinyin'}}" />
            </div>
            <div class="col-sm-2 col-sm-offset-2">
                <edc-audio audioid="{{ctrl.item.audiosrc | contentDirectory : 'Audios/WordAudio'}}"></edc-audio>
            </div>
        </div>
        <div class="row item-center">
            <p>{{ctrl.item.basicMeaning}}</p>
        </div>
        <div class="row item-center" ng-click="ctrl.exampleClick()">
            <button ng-if="ctrl.item.phrases && ctrl.item.phrases.length > 0" type="button" class="btn btn-default btn-lg">例子&nbsp;<small class="english-small">Examples</small></button>
        </div>
    </div>
    <div ng-show="ctrl.example">
        <div>
            <dl>
                <dd class="word-basic-dd" ng-repeat="phrase in ctrl.item.phrases">
                    <div class="row">
                        <em>{{phrase.chinese}}&nbsp;</em>
                        <em><small>{{phrase.english}}</small></em>
                        <edc-audio audioid="{{phrase.audioid | contentDirectory :'Audios/PhraseAudio/'}}">&nbsp;&nbsp;&nbsp;</edc-audio>
                    </div>
                    <div class="row word-basic-row">
                        <p ng-repeat="example in phrase.examples">
                            {{example.chinese}}&nbsp;&nbsp;&nbsp;<small class="small-transparent">{{example.english}}</small>
                        </p>
                    </div>
                </dd>
            </dl>
        </div>
        
        <div class="row item-center" ng-click="ctrl.basic = false;ctrl.example = false;ctrl.quote = true;">
            <button ng-if="ctrl.item.quotes && ctrl.item.quotes.slangs.length > 0" type="button" class="btn btn-default btn-lg">更多例子&nbsp;<small class="english-small">More Examples</small></button>
        </div>
        <br />
        <div class="row item-center" ng-click="ctrl.basicClick()">
            <button type="button" class="btn btn-default btn-lg">汉字&nbsp;<small class="english-small">Character</small></button>
        </div>
    </div>
    <div ng-show="ctrl.quote">
        <edc-slang slang="ctrl.item.quotes"></edc-slang>
        <div class="row item-center" ng-click="ctrl.basic = false;ctrl.example = true;ctrl.quote = false;">
            <button type="button" class="btn btn-default btn-lg">例子&nbsp;<small class="english-small">Examples</small></button>
        </div>
    </div>
    <cl-dismissible-error error="ctrl.item.error"></cl-dismissible-error>
</div>
