<div class="row">
    <dl>
        <dt class="word-basic-dt">拼音&nbsp;<small class="english-small">Pronunication</small></dt>
        <dd class="word-basic-dd">
            <div class="word-basic-row">
                <div class="col-sm-2 col-md-1">
                    <img src="{{ctrl.pinyin | contentDirectory : 'Pinyin/WordPinyin'}} " />
                </div>
                <div class="col-sm-2 col-md-1">
                    <edc-audio audioid="{{ctrl.audiosrc | contentDirectory : 'Audios/WordAudio'}}" ></edc-audio>
                </div>
            </div>
        </dd>
    </dl>
</div>
<div class="row ">
    <dl>
        <dt class="word-basic-dt">
            基本词意&nbsp;<small class="english-small">Basic meaning</small>
        </dt>
        <dd class="word-basic-dd">
            <div class="word-basic-row">
                <p>{{ctrl.english}}</p>
            </div>
        </dd>
    </dl>
</div>
