<div class="col-sm-offset-4 col-sm-8">
    <div class="form-group">
        <label for="emailInput">Email Address</label>
        <input type="email" class="form-control" id="emailInput" placeholder="Email" ng-model="forgotPasswordCtrl.emailaddress" />
    </div>
    <button type="submit" class="btn btn-default col-sm-2" ng-click="forgotPasswordCtrl.onForgot()">Submit</button>
    <button type="submit" class="btn btn-default col-sm-offset-1 col-sm-2" ng-click="forgotPasswordCtrl.onForgotCancel()">Cancel</button>
    <br />


</div>

