
<edc-header></edc-header>
<br />
<div class="container" role="main">
    <div class="row">
        <div class="col-sm-1 col-md-1">
            <button type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Erase" ng-click="teacherLRCtrl.erase()">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </div>
        <div class="col-sm-1 col-md-1 ">
            <button type="button" ng-class="{'btn btn-default btn-lg' : !teacherLRCtrl.canDraw,'btn btn-default btn-lg active' : teacherLRCtrl.canDraw}" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Pencil" ng-click="teacherLRCtrl.pencil()">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <canvas width="600" height="400" edc-teacher-canvas candraw="teacherLRCtrl.canDraw" erase="teacherLRCtrl.erase" enddraw="teacherLRCtrl.endDraw" class="learnRequest-canvas"></canvas>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3 col-md-2 ">
            <div class="btn-group">
                <button type="button" class="btn btn-default">Students</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="student in teacherLRCtrl.students">
                        <p>{{student}}</p>
                    </li>
                </ul>
            </div>
        </div>
        <button type="button" class="btn btn-default btn-lg" ng-click="teacherLRCtrl.endSession()">End</button>
    </div>
</div>
